html,
body {
    background: url('../images/notebook.png');
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#email,
#password {
    padding: 10px;
    width: 300px;
}

.login {
    width: 200px;
    background-color: #4286f4;
    color: white;
    border-color: #4286f4;
    font-family: 'Roboto', sans-serif;
}

.panel-default>.panel-heading {
    background-color: #00bcd4;
}

.panel-heading>h5 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.panel-heading,
.panel-body {
    padding: 20px;
}

.profile-btns {
    padding: 10px;
    width: 300px;
    margin: 10px;
    background-color: #4286f4;
    color: white;
    border-color: #4286f4;
}

#dropdown,
#new-list-item-txt-box,
#share-list-txt-box,
#new-list-name-box {
    width: 300px;
    margin: 2px;
}

#new-list-item-txt-box {
    width: 270px;
    margin-bottom: 20px;
}

#add-list-item-btn,
#share-list-btn {
    margin-left: 5px;
}

h5 {
    color: white;
}

#save-list-name-txt {
    margin-right: 5px;
}

#share-form {
    margin-bottom: 10px;
}

.new-list-item {
    border: thin solid #4286f4;
    background-color: #4286f4;
    margin: 10px;
}

.taskItemComplete h5 {
    text-decoration: line-through;
}

.taskItemComplete {
    background-color: rgb(255, 140, 140);
    border-color: rgb(255, 140, 140);
}

.profile-area img {
    max-width: 150px;
    margin-bottom: 20px;
}

.panel-body h3 {
    margin-top: 0;
}